#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}

#introduction {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: 'Merriweather', serif;
  display: flex; flex-direction: column;
}

#start {
  width: 30%;
  margin-top: 10px;
  padding: 10px;
  margin-left: auto; margin-right: auto;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 5px;
}

