#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}

#initial {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: 'Merriweather', serif;
  display: flex; flex-direction: column;
}

#money {
  text-align: center;
}

#start {
  width: 30%;
  margin-left: auto; margin-right: auto;
  border: 1px solid white;
  cursor: pointer;
}

@-webkit-keyframes disappear {
  0% {
    opacity: .5;
  }

  100% {
    opacity: 0;
  }
}
