@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes move-left {
  0% {
    transform: translate(-50%, -80%);
    width: 250px;
  }

  100% {
    transform: translate(-250%, -80%);
    width: 175px;
  }
}

@-webkit-keyframes resize-box {
  0% {
    width: 250px;
  }

  100% {
    width: 150px;
  }
}

@-webkit-keyframes pop {
  0% {transform: scale(0);}
  50% {transform: scale(1.25);}
  100% {transform: scale(1);}
}


@-webkit-keyframes bounce {
  0% {transform: translateY(0);}
  50% {transform: translateY(15%);}
  100% {transform: translateY(0%);}
}






