@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes move-left {
  0% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-150%, -50%);
  }
}



