div, h1, h2, h3, p, button, input{
  color: white;
  border: 0px;
  padding: 0px;
  font-family: 'Merriweather', serif;
}

a {
  color: white;
  text-decoration: none;
}

input[type="number"] {
  -webkit-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
