#user-info {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  display: none;
  width: 250px;
}

#user-info input {
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  font: 15px;
  margin-top: 20px;
  box-shadow: 0 2px 5px white;
}

#user-info input:focus {
  outline: none;
}

#savings {
  display: flex; flex-direction: column;
}

#percentage {
  position: absolute;
  right: 10px;
  top: 128px;
}

input[type="submit"] {
  cursor: pointer;
}

#submit-info:hover {
  box-shadow: 0 2px 15px white;
}


